<table>
	<tr>
		<td><label for="title">Title</label></td>
		<td><f:form.textbox property="title" id="title" size="80" /></td>
	</tr>

<tr>
	<td><label for="location">Location</label></td>
	<td><f:form.textbox property="location" id="location" size="80" /></td>
</tr>

<tr>
	<td><label for="teaser">Teaser</label></td>
	<td><f:form.textarea property="teaser" cols="60" rows="5" id="teaser" /></td>
</tr>

<tr>
	<td><label for="text">Text</label></td>
	<td><f:form.textarea property="text" cols="60" rows="20" id="text" /></td>
</tr>

</table>